@charset 'utf-8';

html {
  color-scheme: light dark;
}

body {
  width: 50em;
  max-width: 90vw;
  margin: 0 auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

iframe {
  width: 100%;
}

#radio-playlist-iframe {
  min-height: 200px;
  height: 20vh;
}

#radio-status-iframe {
  min-height: 600px;
  height: 60vh;
}

.dns-table th,
.dns-table td {
	border: #111 1px dotted;
  padding: 2px;
}
